@{
	
}
<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta charset="UTF-8">
	</head>
	<body>
        <header>Desarrollo Back End</header>
		<h1>@ViewBag.Title</h1>
        @RenderBody()
        <footer>2023 - UNSTA - Derechos reservados</footer>
	</body>    
</html>