@{
	ViewBag.Title = "Home Page";
}
<ul>
    <li><a asp-controller="App" asp-action="Edit">El Padrino</a></li>
    <li><a asp-controller="App" asp-action="Edit">Argentina - 1985</a></li>
</ul>
<a asp-controller="App" asp-action="About">Acerca de Nosotros</a>