@{
		ViewBag.Title = "Bienvenidos";
	}
	<!DOCTYPE html>
	<html>
		<head>
			<title>@ViewBag.Title</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href="~/CSS/site.css">
		</head>
		<body>
			<h1>@ViewBag.Title</h1>
			<ul>
                <li>El Padrino</li>
                <li>Argentina - 1985</li>
            </ul>
		</body>
	</html>